:root {
    --background-color: #F0EDEE
    
}
body {
    background-color: var(--background-color);
}

.navbar {

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3vw;
}
.menu {
    margin-left: 3vw;
}

.contents-container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10%;
    max-width: 80vw;
    gap: 10px;

}
.contents-container > div {
    display: flex;
    justify-content: center;
    border-radius: 15px;;
    background-color: white;
    box-shadow: rgba(0,0,0,0.3 )5px 5px 5px;
}

#ipads {
    grid-column: 1 / -1;
    display: grid;
    align-content: top;
    justify-items: center;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
}

.ipad-content {
    border: black solid 1px;
    grid-row: span 90;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ipad-title {
    border: black solid 1px;
    grid-column: 1 / -1;
    
}

.microsoft {
    display: grid;
    align-items: center;
    flex-direction: column;
    grid-template-rows: 1fr 2fr;
}

.microsoft-content {
    border: black solid 1px;
    grid-row: span 10;
    
}

.content-titles {
    border: black solid 1px;
}
